<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <div class="text-center">

      <p></p>

      <h1>Thank You!</h1>

      <p></p>

        <h4>求人の予約を承りました。</h4>
        <p></p>
        <h4>よろしくお願いします。</h4>
        <p></p>
        <h4>また、キャンセルする際は、</h4>
        <p></p>
        <h4>生産者へのご連絡をお願いします。</h4>
        <p></p>
    </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <div class="text-center">
              <%= link_to "戻る", reservations_path, class: "btn btn-primary btn-lg" %>
          </div>
      </div>
  </div>
</div>