<% if resource.errors.any? %>
  <div id="error_explanation">
    <h4>下記の項目を入力してください</h4>
    <ul class="list-unstyled">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
