<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2 text-center">
        <div class="box1">
          <h2>管理者ページ</h2>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <%= link_to "ログインはこちらから", new_admin_session_path, class: "btn btn-outline-secondary btn-lg" %>
        </div>
    </div>
  </div>

</div>