<p id="notice"></p>
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <div class="display-1 fst-italic">Agrin Work</div>
        　</div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="box4">
          <div class="text-center">
            <h2>働き手の方はこちら</h2>
            <p></p>
            <%= link_to new_customer_session_path, class: "btn btn-outline-primary btn-block md-1" do %>
              ログイン<i class="fas fa-sign-in-alt"></i>
            <% end %>

              <p></p>

            <%= link_to new_customer_registration_path, class: "btn btn-outline-success btn-block md-2" do %>
              新規登録<i class="fas fa-plus"></i>
            <% end %>
        　  </div>
        　</div>
        </div>

      <div class="col-md-6">
        <div class="box5">
          <div class="text-center">
            <h1>生産者の方はこちら</h1>
            <p></p>
              <%= link_to new_farmer_session_path, class: "btn btn-outline-primary btn-block md-2" do %>
                ログイン<i class="fas fa-sign-in-alt"></i>
              <% end %>

            <p></p>

              <%= link_to new_farmer_registration_path, class: "btn btn-outline-success btn-block md-2" do %>
                新規登録<i class="fas fa-plus"></i>
              <% end %>
          </div>
        </div>
      </div>
    </div>