@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.radio_button_label {
  margin-right: 2rem;
}
.radio_button_input {
  margin-right: 1rem;
}

main {
	background:radial-gradient(#fff, #99FF99);
	min-height: 80vh,auto;
	border: 1px solid #333;
}

