// Place all the styles related to the customer/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/





.search_form{
    padding: 8px 19px;
    margin: 2em 0;
    background: #EEEEEE;
    border: solid 2px #5989cf;
    border-radius: 750px;
}

