// Place all the styles related to the customer/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.box2 {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  180px;       /* ※縦横を同値に */
    height: 180px;       /* ※縦横を同値に */
}




.search_form{
    padding: 8px 19px;
    margin: 2em 0;
    background: #EEEEEE;
    border: solid 2px #5989cf;
    border-radius: 750px;
}

