// Place all the styles related to the customer/job_offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.box8{
    padding: 8px 19px;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde4ff;
    border-top: solid 10px #5989cf;
    border-bottom: solid 5px #5989cf;
}

.box9 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde4ff;/*背景色*/
}
.box9 p {
    margin: 0;
    padding: 0;
}